<div class="login">
  <h1 class="text-center">sing up</h1>
  <form name = "signup" novalidate>
    <div class="form-group">
      <label>*first name</label>
      <input class="form-control" name = "usefirstname" type="text" ng-model="signUpCtrl.firstName" autofocus required>
      <span
      style = "color:red"
      ng-if="(signup.usefirstname.$error.required && signup.usefirstname.$touched)">
      * user name is requried field
    </span>
    </div>
    <div class="form-group">
      <label>*last name</label>
      <input class="form-control" name = "lastname"  type="text" ng-model="signUpCtrl.lastName" required>
      <span
        style = "color:red"
      ng-if="(signup.lastname.$error.required && signup.lastname.$touched)">
        *user last name is requried field
    </span>
    </div>
    <div class="form-group">
      <label>*email address</label>
      <input class="form-control" name = "ueremail" type="email" ng-model="signUpCtrl.emailAddress" required>
      <span
        style = "color:red"
        ng-if="signup.ueremail.$invalid && signup.ueremail.$touched && !signup.ueremail.$error.required">
        * invalid email addres
      </span>
      <span
        style = "color:red"
        ng-if="signup.ueremail.$error.required && signup.ueremail.$touched">
        * email addres  is requried field
      </span>
    </div>
    <div class="form-group">
      <label>*phone number</label>
      <input class="form-control"
      name = "phonenumber"
      ng-model="signUpCtrl.phoneNumber"
      pattern="(\d{3})-(\d{3})-(\d{4})"
      required>
      <span
        style = "color:red"
        ng-if="signup.phonenumber.$invalid  && signup.phonenumber.$touched && !signup.phonenumber.$error.required">
        * invalid phone number (use ###-###-####)
      </span>
      <span
        style = "color:red"
        ng-if="signup.phonenumber.$error.required  && signup.phonenumber.$touched">
        * phone number  is requried field (use ###-###-####)
      </span>

    </div>
    <div class="form-group">
      <label>*menu number</label>
      <input class="form-control" name ="menunumber"  type="text" ng-model="signUpCtrl.menuNumber" required>
      <span
        style = "color:red"
      ng-if="(signup.menunumber.$error.required && signup.menunumber.$touched)">
        *menu number name is requried field
    </span>
    </div>
    <span
      ng-if="signUpCtrl.showmessage"
       style = "color:red">
      * No such menu number exists.
    </span>
    <div class="form-group">
      <button class="btn btn-primary" ng-disabled="signup.$invalid" ng-click="signUpCtrl.onSubmit()">Submit </button>
    </div>
  </form>
  <div ng-if ="signUpCtrl.Submitedflag">
    Your information has been saved.
  </div>
  <div ng-if="loginCtrl.error" class="login-error text-center">
    {{loginCtrl.error}}
  </div>
</div>
